{{#if results.length}}
  <!-- <div class="modal-dialog modal-dialog--static modal-dialog--small modal-dialog--sectioned"> -->
    <div class="modal-dialog__header">
      <div class="grid">
        <div class="col--10-12">
          <p>Wilde u refereren naar</p>
        </div>
        <div class="col--2-12 u-align-right">
          <a class="link--icon--close" href="#">
            <span class="u-visually-hidden">Venster sluiten</span>
          </a>
        </div>
      </div>
    </div>
    <div class="modal-dialog__content modal-dialog__content--collapse">
      <ul class="search-box__results">
        {{#each results as |result|}}
          <li {{action "insertHint" result.origModel}}>
            {{result.title}}
            <span class="text-fade">{{result.page}}</span>
          </li>
        {{/each}}
      </ul>
      {{card-pagination pageSize=pageSize pageNumber=pageNumber total=totalSize prev=(action "prevPage") next=(action "nextPage")}}
    </div>
    <div class="u-visually-hidden modal-dialog__footer">
      {{#wu-button-group}}
        {{wu-button label="Uitgebreid zoeken" size="small" isNarrow=true isAlt=true command="ctrl + f" commandLocation="below" onClick=null}}
        {{wu-button label="Negeer" size="tiny" isLink=true isDark=true isNarrow=true command="esc" commandLocation="below" onClick=null}}
      {{/wu-button-group}}
    </div>
    <!-- </div> -->
{{/if}}

{{#if loading}}
  <div class="loader"><span class="u-visually-hidden">Aan het laden</span></div>
{{/if}}

{{#each errors as |error|}}
  <li class="error">! {{error}}</li>
{{/each}}
