{{#if insertHintActive}}
  {{editor-plugins/insert-citaat-card
    besluit=currentBesluit
    toggleInsertHint=(action "toggleInsertHint")
    insertHint=(action "insertHint")
  }}
{{else}}
<article class="say-card">
  <header class="say-card__header">
    <h2 class="say-card__title">Voeg verwijzing naar een {{this.info.typeLabel}} toe:</h2>
  </header>
  <div class="say-card__content">
    {{#if search.isRunning}}
      <p class="say-loader"><span class="say-u-hidden-visually">Aan het laden</span></p>
    {{else}}
      {{#if besluiten.length}}
        <ul class="say-link-list">
          {{#each besluiten as |citaat|}}
            <li class="say-link-list__item say-link-list__item--insert">
              <a href="/citaten/citaten-voeg-in" class="say-link-list__link say-link-list__link--insert">
                <span class="say-link-list__content say-link-list__content--capped">
                  {{capitalize citaat.title.value}}
                </span>
              </a>
              <button onclick={{action "insertHint" citaat.uri.value citaat.title.value}} class="say-link-list__insert">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="say-icon say-icon--large" aria-hidden="true">
                  <g class="plus-text">
                    <path d="M14.4,4.85714846 L0,4.85714846 L0,7.28571615 L14.4,7.28571615 L14.4,4.85714846 Z M14.4,0 L0,0 L0,2.42856769 L14.4,2.42856769 L14.4,0 Z M19.2,9.71428385 L19.2,4.85714846 L16.8,4.85714846 L16.8,9.71428385 L12,9.71428385 L12,12.1428646 L16.8,12.1428646 L16.8,17 L19.2,17 L19.2,12.1428646 L24,12.1428646 L24,9.71428385 L19.2,9.71428385 Z M0,12.1428646 L9.6,12.1428646 L9.6,9.71428385 L0,9.71428385 L0,12.1428646 Z"></path>
                  </g>
                </svg>
                <span class="say-u-hidden-visually">Voeg citaat in</span>
              </button>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    {{/if}}
  </div>
  {{#if search.isRunning}}
  {{else}}
  {{#if besluiten.length}}
  {{editor-plugins/citaat-card-pagination prev=(action "prevPage") next=(action "nextPage") pageNumber=pageNumber pageSize=pageSize total=totalSize}}
  <footer class="say-card__footer">
    <a href="/citaten/citaten-zoek" class="say-button say-button--tertiary">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="au-c-icon au-c-icon--left" aria-hidden="true">
        <path d="M21.701 20.301l-5.4-5.4a7.88 7.88 0 001.7-4.9 8.27 8.27 0 00-2.3-5.7 8.21 8.21 0 00-11.4 0 8.21 8.21 0 000 11.4 8.27 8.27 0 005.7 2.3 7.88 7.88 0 004.9-1.7l5.4 5.4 1.4-1.4zm-11.7-4.3a5.6 5.6 0 01-4.2-1.8 5.6 5.6 0 01-1.8-4.2 5.6 5.6 0 011.8-4.2 5.6 5.6 0 014.2-1.8 5.6 5.6 0 014.2 1.8 5.6 5.6 0 011.8 4.2 5.6 5.6 0 01-1.8 4.2 5.6 5.6 0 01-4.2 1.8z" class="Vector"></path>
      </svg>
      Uitgebreid zoeken
    </a>
  </footer>
  {{else}}
  <div class="say-card__info">
    {{#if error}}
      <p>Er heeft zich een fout voorgedaan bij het zoeken in de Vlaamse Codex.</p>
    {{else}}
      <p>Geen besluiten gevonden.</p>
    {{/if}}
  </div>
  <footer class="say-card__footer">
    <p>Moest dit probleem aanhouden, neem contact op met <a href="mailto:Gelinkt-Notuleren@vlaanderen.be">Gelinkt-Notuleren@vlaanderen.be</a>.</p>
  </footer>
  {{/if}}
  {{/if}}
</article>
{{/if}}
