{{#if this.showCard}}
  <AuCard @flex={{true}} @divided={{true}} @isOpenInitially={{true}} @expandable={{true}} @shadow={{true}} @size="small" as |c|>
    <c.header>
      <AuHeading @level="3" @skin="6">
        Voeg verwijzing toe:
      </AuHeading>
    </c.header>
    <c.content>
      <AuLabel for="typeofdocument" @inline={{false}} @required={{false}} @error={{false}} @warning={{false}}>Type document</AuLabel>
      <PowerSelect
        id="typeofdocument"
        @allowClear={{false}}
        @disabled={{false}}
        @searchEnabled={{true}}
        @loadingMessage="Laden..."
        @noMatchesMessage="Geen resultaten gevonden"
        @searchMessage="Typ om te zoeken"
        @options={{this.legislationTypes}}
        @selected={{this.legislationSelected}}
        @onChange={{this.selectLegislationType}}
        as |type|>
        {{type}}
      </PowerSelect>
      <AuLabel for="searchterm" @inline={{false}} @required={{false}} @error={{false}} @warning={{false}}>Zoekterm</AuLabel>
      <AuInput id="searchterm" @type="text" @width="block" @icon="search" @iconAlignment="right" @value={{this.text}} {{on "input" (perform this.updateSearch)}}/>
      <AuButton @skin="link" @icon="search" @iconAlignment="left" {{on "click" this.openSearchModal}}>Uitgebreid zoeken</AuButton>

      {{#if this.search.isRunning}}
        <AuLoader /><span class="au-u-hidden-visually">Aan het zoeken</span>
      {{else}}
        {{#if this.error}}
          <EditorPlugins::Helpers::AlertLoadError @fullSize={{false}} @error={{this.error}} />
        {{else}}
          <AuHeading @skin="4" @level="4">Suggesties</AuHeading>
          <div class="citaten--decision-list au-u-flex au-u-flex--column">
            <EditorPlugins::Citations::DecisionList
              @decisions={{this.decisions}}
              @onCitationInsert={{this.insertDecisionCitation}}
              @onCitationDetails={{this.openDecisionDetailModal}} />
          </div>
        {{/if}}
      {{/if}}
    </c.content>
  </AuCard>
{{/if}}

{{#if this.showModal}}
  <EditorPlugins::Citations::SearchModal
    @closeModal={{this.closeModal}}
    @insertDecisionCitation={{this.insertDecisionCitation}}
    @insertArticleCitation={{this.insertArticleCitation}}
    @selectedDecision={{this.decision}}
    @legislationTypeUri={{this.legislationTypeUri}}
    @text={{this.text}} />
{{/if}}
