{{#if this.showCard}}
  <AuCard @flex={{true}} @divided={{true}} @isOpenInitially={{true}} @expandable={{true}} @shadow={{true}} @size="small" as |c|>
    <c.header>
      <AuHeading @level="3" @skin="6">
        Voeg verwijzing toe:
      </AuHeading>
    </c.header>
    <c.content>
      <AuLabel for="typeofdocument" @inline={{false}} @required={{false}} @error={{false}} @warning={{false}}>Type document</AuLabel>
      <PowerSelect
        id="typeofdocument"
        @allowClear={{false}}
        @disabled={{false}}
        @searchEnabled={{true}}
        @loadingMessage="Laden..."
        @noMatchesMessage="Geen resultaten gevonden"
        @searchMessage="Typ om te zoeken"
        @options={{this.legislationTypes2}}
        @selected={{this.legislationSelected}}
        @onChange={{this.selectLegislationType2}}
        as |type|>
        {{type}}
      </PowerSelect>
      <AuLabel for="searchterm" @inline={{false}} @required={{false}} @error={{false}} @warning={{false}}>Zoekterm</AuLabel>
      <AuInput id="searchterm" @type="text" @width="block" @icon="search" @iconAlignment="right" @value={{this.text}} {{on "keyup" (perform this.updateSearch)}}/>
      <AuButton @skin="link" @icon="search" @iconAlignment="left" {{on "click" this.openSearchModal}}>Uitgebreid zoeken</AuButton>

      {{#if this.search.isRunning}}
        <AuLoader /><span class="au-u-hidden-visually">Aan het zoeken</span>
      {{else}}
        {{#if this.error}}
          <AuAlert
            @alertTitle="Probleem bij het laden"
            @alertSkin="error"
            @alertIcon="alert-triangle"
            @alertSize="small"
            @closable={{false}} >
            <p>Er heeft zich een fout voorgedaan bij het zoeken in de Vlaamse Codex.</p>
            <code>{{this.error}}</code>
            <p>Moest dit probleem aanhouden, neem contact op met <AuLinkExternal href="mailto:Gelinkt-Notuleren@vlaanderen.be" @icon="mail">Gelinkt-Notuleren@vlaanderen.be</AuLinkExternal>.</p>
          </AuAlert>
        {{else}}
          <AuHeading @skin="4" @level="4">Suggesties</AuHeading>
          <div class="citaten--decision-list au-u-flex au-u-flex--column">
            {{#each this.decisions as |decision|}}
              <div class="citaten--decision-list-item">
                <div class="citaten--decision-title">
                  {{decision.title}}
                </div>
                <div class="au-u-flex au-u-flex--row au-u-flex--no-wrap au-u-flex--between au-u-margin-top-tiny">
                  <AuButton
                    @skin="link-secondary"
                    @icon="plus-text"
                    @iconAlignment="left"
                    {{on "click" (fn this.insertCitation this.legislationType decision.uri decision.title)}}>
                    Citaat invoegen
                  </AuButton>
                  <AuButton
                    @skin="link"
                    @icon="manual"
                    @iconAlignment="left"
                    {{on "click" (fn this.openDecisionDetailModal decision)}}>
                    Details
                  </AuButton>
                </div>
              </div>
              <AuHr />
            {{else}}
              <AuAlert
                @alertTitle="Geen besluiten gevonden"
                @alertSkin="warning"
                @alertIcon="cross"
                @alertSize="small"
                @closable={{false}} >
              </AuAlert>
            {{/each}}
          </div>
        {{/if}}
      {{/if}}
    </c.content>
  </AuCard>
{{/if}}

{{#if this.showModal}}
  <EditorPlugins::Citations::Modal
    @closeModal={{this.closeModal}}
    @insertCitation={{this.insertCitation}}
    @selectedDecision={{this.decision}}
    @legislationTypeUri={{this.legislationTypeUri}}
    @text={{this.text}}
  />
{{/if}}
