<div class="citaten--main-container au-u-flex au-u-flex--column au-u-flex--between">
  <div class="citaten--container-content">
    {{! Heading with title and actions }}
    <div class="au-u-background-gray-100 au-u-padding">
      <AuHeading @level="2" @skin="3">
        {{capitalize @decision.fullTitle}}
      </AuHeading>
      {{#if @decision.publicationDate}}
        <AuPill
          class="au-u-margin-top-small au-u-margin-bottom-small"
          @skin="border"
          @icon="calendar"
          @iconAlignment="left">
          {{@decision.publicationDate}}
        </AuPill>
      {{/if}}
      <br />
      <AuButton
        @skin="primary"
        @icon="plus-text"
        @iconAlignment="left"
        class="au-u-margin-right"
        {{on "click" (fn @insertDecisionCitation @decision)}}>
        Verwijs naar heel document
      </AuButton>
      <AuLinkExternal
        @skin="primary"
        @icon="link-external"
        @iconAlignment="left"
        href={{@decision.uri}}
        rel="noreferrer noopener">
        Bekijk in Vlaamse Codex
      </AuLinkExternal>
      {{! Search field }}
      <AuLabel class="au-u-margin-top-small au-margin-bottom-small" for="searchCodex" @inline={{true}} @required={{false}} @error={{false}} @warning={{false}}>Zoek artikel</AuLabel>
      <AuInput id="searchCodex" placeholder="Artikel nummer" @type="text" @width="default" @icon="search" @iconAlignment="right" @value={{this.articleFilter}} {{on "input" (perform this.updateArticleFilter)}}/>
    </div>
    {{! Search results }}
    <div>
      {{#if this.search.isRunning}}
        <div class="au-u-margin">
          <AuLoader @padding="large" />
          <span class="au-u-hidden-visually">Aan het zoeken</span>
        </div>
      {{else}}
        {{#if this.error}}
          <EditorPlugins::Helpers::AlertLoadError @fullSize={{true}} @error={{this.error}} class="au-u-margin" />
        {{else}}
          {{#each this.articles as |article|}}
            <EditorPlugins::Citations::ArticlePreview
              @insertArticleCitation={{(fn @insertArticleCitation @decision article)}}
              @article={{article}} />
          {{else}}
            <EditorPlugins::Helpers::AlertNoItems @fullSize={{true}} class="au-u-margin"/>
          {{/each}}
        {{/if}}
      {{/if}}
    </div>
  </div>
  {{! Footer }}
  <div>
    <div class="citaten--container-footer au-u-background-gray-100">
      <AuToolbar
        @border="top"
        @size="large"
        @nowrap={{true}}>
        <div class="au-c-pagination">
          {{! Always shown, back to main dialog }}
          <div class="au-c-pagination__list-item">
            <AuButton
              @skin="link"
              @icon="hierarchical-back"
              @iconAlignment="left"
              {{on "click" @close}}>
              Alle zoekresultaten
            </AuButton>
          </div>
          {{! Pagination of articles }}
          {{#if this.articles.length}}
            <p>
              <span class="au-u-hidden-visually">Resultaten</span>
              <strong>
                {{this.rangeStart}} - {{this.rangeEnd}}
              </strong>
              van
              {{this.totalCount}}
            </p>
            <div class="au-c-pagination__list-item">
              {{#unless this.isFirstPage}}
                <AuButton
                  @skin="link"
                  @icon="nav-left"
                  @iconAlignment="left"
                  {{on "click" this.previousPage}}>
                  Vorige pagina
                </AuButton>
              {{/unless}}
              {{#unless this.isLastPage}}
                <AuButton
                  @skin="link"
                  @icon="nav-right"
                  @iconAlignment="right"
                  {{on "click" this.nextPage}}>
                  Volgende pagina
                </AuButton>
              {{/unless}}
            </div>
          {{/if}}
        </div>
      </AuToolbar>
    </div>
  </div>
</div>
